._main-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-loading-bg);
}

._main-text {
  position: relative;
  font-size: 14vw;
  font-weight: bold;
  color: var(--main-loading-text);
  -webkit-text-stroke: 0.3vw #39aca4;
  transform: translateY(-2vh);
}

._main-text.isWithoutSideBar {
  font-size: 10vw;
}

/* for screens too big */
@media (min-width: 2200px) {
  ._main-text {
    font-size: 10vw;
  }

  ._main-text.isWithoutSideBar {
    font-size: 8vw;
  }
}

._main-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--after-main-loading-text);
  -webkit-text-stroke: 0.3vw var(--after-main-loading-stroke);
  border-bottom: 0.7vw solid var(--after-main-loading-border);
  text-shadow: -5px 0px 4px #3dc0b799, 0px 5px 4px #51fbce33,
    0px -5px 4px #51fbce33;
  overflow: hidden;

  animation: LoadingWidth var(--animationDuration) ease-in-out infinite;
}

@keyframes LoadingWidth {
  0%,
  10%,
  100% {
    width: 0;
    text-shadow: -0px 0px 4px #3dc0b799, 0px 0px 4px #51fbce33,
      0px -0px 4px #51fbce33;
  }

  70%,
  90% {
    width: 100%;
    text-shadow: -5px 0px 4px #3dc0b799, 0px 5px 4px #51fbce33,
      0px -5px 4px #51fbce33;
  }
}
